.DS_Store
node_modules
/dist


# local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore Python bytecode files
*.pyc
__pycache__/

# Python 패키지 빌드 파일
WHEEL
*.egg-info
__pycache__/
*.pyc
*.pyo

# 패키지 메타데이터 파일
REQUESTED
RECORD
METADATA

# 라이센스 파일과 설치 파일은 커밋
LICENSE
INSTALLER
py.typed

*.mo

myenv_orderup/Lib/site-packages/


\media

gunicorn.exe